.dropdown-block__button {
  position: relative;
  flex-shrink: 0;
  background-color: #091E4214;
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-block__button:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #344563;
}

.dropdown-block__button:hover,
.dropdown-block__toggle:focus-visible + .dropdown-block__button {
  background-color: #091E4221;
}  

.dropdown-block__button_opened.dropdown-block__button:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: none;
  border-bottom: 4px solid #344563;
}
