.editable-text .editable-text__edit-button {
  display: none;
  width: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(9, 30, 66, 0.13);
  background-image: url('../../../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 50%;
  cursor: pointer;
}

.editable-text:hover .editable-text__edit-button {
  display: block;
}
